main {
   background-color: rgb(225, 234, 243);
   padding: 8.76px;
   width: 100%;
   height: 100vh;
}

main > #form_area {
   background-color: white;
   height: 100%;
   width: 100%;
   border-radius: 10px;
   padding: 12.4px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}

main > #form_area > #form_header {
   margin: 7.7px -4.5px 0px -4.5px;
   display: flex;
   height: 90px;
   gap: 100px;
   justify-content: space-evenly;
   align-items: start;
}
main > #form_area > #form_header > #vy_logo {
   background-image: url(../../assets/imgs/vy_logo.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 145px;
   width: 145px;
   margin-top: -35px;
   margin-left: -30px;
}

main > #form_area > #form_header > #icon_contract {
   margin-top: 9.47px;
}