form {
   margin: 85px -9px 10px -9px;
   padding: 8.7px;
   background-image: linear-gradient(190deg, rgb(87, 76, 150), rgb(45, 45, 63));
}

.area_input {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: flex-start;
   gap: 22.5px;
}

.input_data {
   min-width: 310px;
   max-width: 400px;
}

.label_position {
   display: flex;
   margin-top: 10px;
}

.label_position label {
   font-size: 1.4em;
   border-radius: 3px;
   border-bottom: 3px solid rgb(163, 163, 255);
   font-family: poppins, Arial, Helvetica, sans-serif;
   color: white;
}

.input_display {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row nowrap;
   gap: 5px;
   color: rgb(202, 202, 255);
}

.input_display .icons_styling {
   margin-top: -16px;
}

#file_user_input {
   background-color: transparent;
}


.input_display input,
.input_display textarea {
   margin-bottom: 15px;
   margin-top: 8px;
   padding: 13.6px;
   border-radius: 7px;
   outline: none;
   transition: border ease 0.39s;
   border: 2px solid transparent;
   width: 100%;
}

.input_display input {
   border: 2px solid rgba(0, 0, 0, 0.363);
}

.input_display textarea {
   margin-top: 23px;
   min-height: 130px;
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.507);
}

.input_display input:focus,
.input_display textarea:focus {
   border: 2px solid rgb(177, 161, 250);
}

.input_display input::placeholder {
   font-weight: 600;
   font-size: 1.08em;
}

.input_radio_area {
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin-top: 10px;
}

.radio_option {
   display: flex;
   align-items: center;
   gap: 8px;
}

.radio_option label {
   color: white;
   font-family: poppins, Arial, Helvetica, sans-serif;
}

input[type="file"] {
   background-color: white;
   padding: 10px;
}

#file_user_input::-webkit-file-upload-button {
   padding: 8px 8px;
   background-color: rgb(118, 106, 184);
   color: white;
   
   border: none;
   border-radius: 6px;
   font-size: 1.2em;
   font-weight: 550;
   cursor: pointer;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.259);
   font-family: poppins, Arial, Helvetica, sans-serif;
}

#file_user_input:valid {
   border: 2px solid rgba(147, 147, 255, 0.623);
   border-radius: 8px;
   background-image: linear-gradient(20deg, rgba(0, 0, 0, 0.596), rgba(128, 0, 128, 0.349));
}

.btn_submit {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 60px;
   padding-bottom: 63px;
}

.btn_submit > button {
   border: none;
   border-radius: 10.7px;
   font-size: 23px;
   font-weight: 600;
   color: white;
   padding: 10px 65px;
   cursor: pointer;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
   background-color: rgb(157, 157, 255);
   transition: ease 0.4s;
}

.btn_submit > button:hover {
   transform: translateY(1.5px);
   border-bottom: 5px solid rgb(255, 255, 255);
}