main {
   background-color: rgb(186, 219, 224);
   padding: 7px;
   width: 100%;
   height: 60vh;
}

main > #form_area {
   background-color: white;
   height: 100%;
   width: 100%;
   border-radius: 10px;
   padding: 12.4px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}

main > #form_area > #form_header {
   margin: -2px -4.5px;
   display: flex;
   justify-content: space-between;
   align-items: start;
}
main > #form_area > #form_header > #vy_logo {
   background-image: url(../../assets/imgs/vy_logo.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 145px;
   width: 145px;
   margin-top: -35px;
   margin-left: -14px;
}

main > #form_area > #form_header > #icon_contract {
   margin-top: 9.47px;
}