form {
   border-radius: 5px;
   background-image: linear-gradient(190deg, rgb(48, 44, 73), rgb(94, 94, 141));
}


form > .area_input > .input_data {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
}