main {
   background-color: rgb(186, 219, 224);
   padding: 10px;
   width: 100%;
   height: 90vh;
}

main > #form_area {
   background-color: white;
   height: 100%;
   width: 100%;
   border-radius: 10px;
   padding: 14px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}

main > #form_area > #form_header {
   background-color: rgba(0, 0, 0, 0.299);
   display: flex;
   justify-content: space-between;
   align-items: center;
}