main {
   background-color: rgb(225, 234, 243);
   padding: 8px;
   width: 100%;
   height: 100vh;
}

main > #box_introdution_area {
   background-color: white;
   width: 100%;
   border-radius: 10px;
   padding: 12.4px;
   box-shadow: 0px 0px 6px rgba(66, 31, 137, 0.208);
}

main > #box_introdution_area > #form_header {
   margin: 7.7px 6px 0px 11px;
   display: flex;
   height: 90px;
   justify-content: space-between;
   align-items: start;
}

main > #box_introdution_area > #form_header > #vy_logo {
   background-image: url(../../assets/imgs/vy_logo.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 145px;
   width: 145px;
   margin-top: -35px;
   margin-left: -30px;
}

main > #box_introdution_area > #form_header > #icon_contract {
   margin-top: 10px;
}