#text_info_contract_msg {
   margin-top: 30px;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   gap: 35px;
   padding: 8px;
}

#text_info_contract_msg>h2 {
   font-size: 1.75em;
   font-family: var(--poppins-font);
   border-radius: 3px;
   position: relative;
   padding-bottom: 10px;
}

#text_info_contract_msg>h2::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 4px;
   background: linear-gradient(90deg, rgb(42, 75, 182), rgb(202, 213, 250), rgb(77, 46, 252));
   animation: borderAnimation 3.57s ease-in-out infinite;
}

@keyframes borderAnimation {
   0% {
      border-radius: 6px;
      width: 2%;
   }

   50% {
      border-radius: 6px;
      width: 60%;
   }

   100% {
      border-radius: 6px;
      width: 100%;
   }
}

#text_info_contract_msg > #paragraph_text_project {
   border-radius: 6px;
   text-align: justify;
   font-family: poppins, Arial, Helvetica, sans-serif;
   font-size: 22px;
   width: 88vw;
   color: white;
   padding: 10px;
   background-image: linear-gradient(245deg, rgb(6, 5, 14), rgba(65, 65, 92, 0.836));
}

#text_info_contract_msg > #paragraph_text_project > #area_arrow {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#text_info_contract_msg > #paragraph_text_project > #area_arrow > .arrow_right {
   border-radius: 3px;
   background-color: white;
   margin: -3px;
   width: 40px;
   transition: ease 1s;
   height: 40px;
   clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
   animation: scaleUping ease 1.3s infinite;
}

@keyframes scaleUping {
   0% {
      scale: 1;
   }
   50% {
      scale: 1.1;
   }
   100% {
      scale: 1;
   }
}





