#header {
    padding: 10px;
    text-align: center;
    display: flex;
    background-image:linear-gradient(to bottom, rgba(19, 23, 46, 0.37), rgb(0, 0, 0)) ,url(../../assets/imgs/background.jpg);
    background-color: rgb(19, 23, 46);
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-flow: column nowrap;
}

header > h2 {
    margin-top: 17px;
    padding-bottom: 30px;
    font-family: var(--poppins-font), Arial, Helvetica, sans-serif;
    color: rgb(219, 219, 255);
    font-size: 28.8px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.712);
}

#header > p {
    font-family: var(--poppins-font),Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 50px;
    color: white;
    max-width: 440px;
}

#header > p > #icon_intro {
    margin-bottom: -19.45px;
    color: rgb(111, 55, 254); 
    animation: animationIcon  2s ease-in-out infinite; 
}

 @keyframes animationIcon {
    0% {
        margin-left: 8px;
        transform: translateY(0);
    }

    50% {
        margin-left: 8px;
        transform: translateY(8px);
        scale: 1.3;
    }

    100% {
        margin-left: 8px;
        transform: translateY(0);
    }
 }

#header .highlight_border {
    border-radius: 3px;
    border-bottom: 3px solid rgb(113, 120, 221);
}



@media screen and (min-width:768px) {

    header > h2 {
        font-size: 33px;
    }

    #header > p  {
        text-align: justify;
        font-size: 23px;
    }
}
